SolucionBiblioteca/vistaWeb/Web References/BibliotecaServicio/Biblioteca.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CantidadAutores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpais" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadAutoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadAutoresResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAutoresJson">
        <s:complexType />
      </s:element>
      <s:element name="GetAutoresJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAutoresJsonResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CantidadAutoresSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadAutores" />
  </wsdl:message>
  <wsdl:message name="CantidadAutoresSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadAutoresResponse" />
  </wsdl:message>
  <wsdl:message name="GetAutoresJsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetAutoresJson" />
  </wsdl:message>
  <wsdl:message name="GetAutoresJsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetAutoresJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="BibliotecaSoap">
    <wsdl:operation name="CantidadAutores">
      <wsdl:input message="tns:CantidadAutoresSoapIn" />
      <wsdl:output message="tns:CantidadAutoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAutoresJson">
      <wsdl:input message="tns:GetAutoresJsonSoapIn" />
      <wsdl:output message="tns:GetAutoresJsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BibliotecaSoap" type="tns:BibliotecaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CantidadAutores">
      <soap:operation soapAction="http://tempuri.org/CantidadAutores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoresJson">
      <soap:operation soapAction="http://tempuri.org/GetAutoresJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BibliotecaSoap12" type="tns:BibliotecaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CantidadAutores">
      <soap12:operation soapAction="http://tempuri.org/CantidadAutores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoresJson">
      <soap12:operation soapAction="http://tempuri.org/GetAutoresJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Biblioteca">
    <wsdl:port name="BibliotecaSoap" binding="tns:BibliotecaSoap">
      <soap:address location="http://localhost:1727/Biblioteca.asmx" />
    </wsdl:port>
    <wsdl:port name="BibliotecaSoap12" binding="tns:BibliotecaSoap12">
      <soap12:address location="http://localhost:1727/Biblioteca.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>