SolucionBiblioteca/vistaWeb/Web References/Aritmetica/Matematica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="operacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="operacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="operacionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="operacionSoapIn">
    <wsdl:part name="parameters" element="tns:operacion" />
  </wsdl:message>
  <wsdl:message name="operacionSoapOut">
    <wsdl:part name="parameters" element="tns:operacionResponse" />
  </wsdl:message>
  <wsdl:portType name="MatematicaSoap">
    <wsdl:operation name="operacion">
      <wsdl:input message="tns:operacionSoapIn" />
      <wsdl:output message="tns:operacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MatematicaSoap" type="tns:MatematicaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="operacion">
      <soap:operation soapAction="http://tempuri.org/operacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MatematicaSoap12" type="tns:MatematicaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="operacion">
      <soap12:operation soapAction="http://tempuri.org/operacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Matematica">
    <wsdl:port name="MatematicaSoap" binding="tns:MatematicaSoap">
      <soap:address location="http://localhost:1727/Matematica.asmx" />
    </wsdl:port>
    <wsdl:port name="MatematicaSoap12" binding="tns:MatematicaSoap12">
      <soap12:address location="http://localhost:1727/Matematica.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>